<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <title>الصفحة الرئيسية</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />

    <!-- Favicon and CSS -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    <style>
        body {
            direction: rtl;
        }
        img {
            max-width: 70%;
            height: auto;
        }
        a.so {
            font-size: 14px;
            font-weight: bold;
        }
        .page-wrapper {
            width: 80%;
            float: left;
        }
    </style>
</head>

<body>
<div id="layout-wrapper">
    <!-- Header Section -->
    <header id="page-topbar">
        <div class="navbar-header">
            <!-- Left Side Header Content -->
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a href="index.html" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="/assets/images/tribunal-logo.jpg" class="lolo" alt="" height="20">
                            </span>
                        <span class="logo-lg">
                                <img src="/assets/images/tribunal-logo.jpg" class="lolo" alt="" style="width: 30%; height: 50%;">
                            </span>
                    </a>
                    <a href="index.html" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="/assets/images/tribunal-logo.jpg" alt="" style="width: 30%; height: 50%;">
                            </span>
                        <span class="logo-lg">
                                <img src="/assets/images/tribunal-logo.jpg" class="lolo" alt="" style="width: 30%; height: 50%;">
                            </span>
                    </a>
                </div>

                <!-- Menu Toggle Button -->
                <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
                    <i class="fa fa-fw fa-bars"></i>
                </button>

                <!-- Settings & Notifications -->
                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                        <i class="bx bx-cog bx-spin"></i>
                    </button>
                </div>

                <!-- Notifications Dropdown -->
                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="bx bx-bell bx-tada"></i>
                        <span class="badge bg-danger rounded-pill">3</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                         aria-labelledby="page-header-notifications-dropdown">
                        <!-- Notifications Header -->
                        <div class="p-3">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="m-0" key="t-notifications"> إشعارات </h6>
                                </div>
                                <div class="col-auto">
                                    <a href="#!" class="small" key="t-view-all">مشاهدة الكل</a>
                                </div>
                            </div>
                        </div>

                        <!-- Notifications List -->
                        <div data-simplebar style="max-height: 230px;">
                            <!-- Notification Item 1 -->
                            <a href="javascript: void(0);" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="avatar-xs me-3">
                                            <span class="avatar-title bg-primary rounded-circle font-size-16">
                                                <i class="bx bx-cart"></i>
                                            </span>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1" key="t-your-order">تم وضع طلبك</h6>
                                        <div class="font-size-12 text-muted">
                                            <p class="mb-1" key="t-grammer">يمكنك مشاهدة الاعلانات من هنا</p>
                                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-min-ago">منذ 3 دقائق</span></p>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <!-- Notification Item 2 -->
                            <a href="javascript: void(0);" class="text-reset notification-item">
                                <div class="d-flex">
                                    <img src="/assets/images/users/avatar-3.jpg" class="me-3 rounded-circle avatar-xs" alt="user-pic">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">سالم سالم</h6>
                                        <div class="font-size-12 text-muted">
                                            <p class="mb-1" key="t-simplified">لقد شاهد صفحتك الشخصية</p>
                                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-hours-ago">منذ 1 ساعة</span></p>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <!-- Notification Item 3 -->
                            <a href="javascript: void(0);" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="avatar-xs me-3">
                                            <span class="avatar-title bg-success rounded-circle font-size-16">
                                                <i class="bx bx-badge-check"></i>
                                            </span>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1" key="t-shipped">ارشادات</h6>
                                        <div class="font-size-12 text-muted">
                                            <p class="mb-1" key="t-grammer">حان وقت موعدك</p>
                                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-min-ago">منذ 3 دقائق</span></p>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <!-- Notification Item 4 -->
                            <a href="javascript: void(0);" class="text-reset notification-item">
                                <div class="d-flex">
                                    <img src="/assets/images/users/avatar-4.jpg" class="me-3 rounded-circle avatar-xs" alt="user-pic">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">حنان مجد</h6>
                                        <div class="font-size-12 text-muted">
                                            <p class="mb-1" key="t-occidental">لقد تصفحت صفحتك الشخصية</p>
                                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-hours-ago">منذ 1 ساعة</span></p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- View All Notifications -->
                        <div class="p-2 border-top d-grid">
                            <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                                <i class="mdi mdi-arrow-right-circle me-1"></i> <span key="t-view-more">عرض المزيد..</span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Search Bar -->
                <form class="app-search d-none d-lg-block">
                    <div class="position-relative">
                        <input type="text" class="form-control" placeholder=".....ابحث هنا">
                        <span class="bx bx-search-alt"></span>
                    </div>
                </form>

                <!-- User Profile Dropdown -->
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="/assets/images/users/avatar-1.jpg" alt="Header Avatar">
                    <span th:text="${user.firstName}+' '+${user.lastName}">Admin</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" th:href="@{/Admin/AdminAvocat/Avocat/profile-AdminAvo(user=${user.id})}">
                        <i class="bx bx-user font-size-16 align-middle me-1"></i> <span key="t-profile">الصفحة الشخصية</span>
                    </a>
                    <a class="dropdown-item d-block" th:href="@{/settings}">
                        <span class="badge bg-success float-end">11</span>
                        <i class="bx bx-wrench font-size-16 align-middle me-1"></i> <span key="t-settings">إعدادات</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" th:href="@{/login}">
                        <i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span key="t-logout">تسجيل خروج</span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <!-- Vertical Menu / Sidebar -->
    <div class="vertical-menu">
        <div data-simplebar class="h-100">
            <!-- Sidebar Menu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class="metismenu list-unstyled" id="side-menu">
                    <li class="menu-title" key="t-menu">قائمة</li>

                    <!-- Home Menu Item -->
                    <li>
                        <a href="javascript: void(0);" class="waves-effect">
                            <i class="bx bx-home-circle"></i>
                            <span class="badge rounded-pill bg-info float-end"></span>
                            <span key="t-dashboards">الصفحة الرئيسية</span>
                        </a>
                    </li>

                    <!-- Services Menu Item -->
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="bx bx-store"></i>
                            <span key="t-ecommerce">الخدمات</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="https://www.mahakim.ma/" key="t-products">محاكم المغرب</a></li>
                            <li><a href="https://najiz.sa/applications/landing/services" key="t-product-detail">الخدمات الإلكترونية</a></li>
                            <li><a href="https://najiz.sa/applications/landing/verification-services" key="t-orders">خدمات التحقق</a></li>
                        </ul>
                    </li>

                    <!-- Lawyers Menu Item -->
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class ="bx bx-user-circle"></i>
                            <span key="t-crypto">المحامون</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a th:href="@{/Admin/AdminAvocat/Avocat/employees(user=${user.id})}">جميع المحامين</a></li>
                            <li><a th:href="@{/Secretaire/rdv/list}">المواعيد</a></li>
                            <li><a href="leaves.html">لوحة التحكم <span class="badge rounded-pill bg-primary float-end">1</span></a></li>
                            <li><a th:href="@{/leaves-employee}">إجازة محامين</a></li>
                        </ul>
                    </li>

                    <!-- User Management -->
                    <li>
                        <a th:href="@{/Admin/users(user=${user.id})}">
                            <i class="bx bx-briefcase-alt-2"></i> <span>ادارة المستخدمين</span>
                        </a>
                    </li>

                    <!-- Clients -->
                    <li>
                        <a th:href="@{/Admin/AdminAvocat/Client/clients(user=${user.id})}">
                            <i class="fa fa-user"></i> <span><b>الزبائن</b></span>
                        </a>
                    </li>

                    <!-- Secretaries -->
                    <li>
                        <a th:href="@{/Admin/AdminAvocat/Secretaire/secretaires(user=${user.id})}">
                            <i class="bx bxs-user-detail"></i> <span>الكاتبين</span>
                        </a>
                    </li>

                    <!-- Files -->
                    <li>
                        <a th:href="@{/Admin/AdminAvocat/Avocat/dossier-list(user=${user.id})}">
                            <i class="bx bx-receipt"></i> <span>جميع الملفات</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/Admin/AdminAvocat/Avocat/AddFolder(user=${user.id})}">
                            <i class="fa fa-plus"></i> <span>اضافة ملف جديد</span>
                        </a>
                    </li>

                    <!-- Contacts -->
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="bx bx-tone"></i>
                            <span key="t-contacts">جهات الاتصال</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="contacts-grid.html" key="t-user-grid">Users Grid</a></li>
                            <li><a href="contacts-list.html" key="t-user-list">Users List</a></li>
                            <li><a href="contacts-profile.html" key="t-profile">Profile</a></li>
                        </ul>
                    </li>

                    <!-- Blog -->
                    <li>
                        <a href="javascript: void(0);" class="waves-effect">
                            <span class="badge rounded-pill bg-success float-end" key="t-new"></span>
                            <i class="bx bx-detail"></i>
                            <span key="t-blog">المدونة</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="blog-list.html" key="t-blog-list">Blog List</a></li>
                            <li><a href="blog-grid.html" key="t-blog-grid">Blog Grid</a></li>
                            <li><a href="blog-details.html" key="t-blog-details">Blog Details</a></li>
                        </ul>
                    </li>

                    <!-- Authentication -->
                    <li>
                        <a href="javascript: void(0);" class="waves-effect">
                            <span class="badge rounded-pill bg-success float-end" key="t-new"></span>
                            <i class="bx bx-task"></i>
                            <span key="t-authentication">المصادقة</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a th:href="@{/login}" key="t-login">تسجيل الدخول</a></li>
                            <li><a th:href="@{/registration}">التسجيل</a></li>
                            <li><a th:href="@{/Admin/AdminAvocat/Avocat/resetPassword}" key="t-recover-password">استعادة كلمة السر</a></li>
                            <li><a th:href="@{/logout}" key="t-lock-screen">اقفل الشاشة</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="page-wrapper">
                    <div class="content container-fluid">
                        <!-- Page Header -->
                        <div class="page-header">
                            <div class="row">
                                <h2 style="text-align:center"><b>مكتبة المحاماة</b></h2>
                                <div class="col-sm-12">
                                    <div class="col-lg-9">
                                        <h2 style="text-align:right"><b>إدارة المحامات</b></h2>
                                        <br/>
                                        <h3 style="text-align:right">مرحبا بكم في موقع إدارة المحامات يمكنكم تنظيم جلساتكم بكل سهولة</h3>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item active" style="text-align:right">المشرف</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Dashboard Widgets -->
                        <div class="row">
                            <!-- Widget: Lawyers -->
                            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                                <div class="card dash-widget" style="background-color:#F0F8FF;">
                                    <div class="card-body" style="border-style: inset;">
                                        <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
                                        <div class="dash-widget-info">
                                            <h3>4</h3>
                                            <span>المحامون</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Widget: Secretaries -->
                            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                                <div class="card dash-widget" style="background-color:#F0F8FF">
                                    <div class="card-body" style="border-style: inset;">
                                        <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
                                        <div class="dash-widget-info">
                                            <h3>3</h3>
                                            <span>الكتابات</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Widget: Clients -->
                            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                                <div class="card dash-widget" style="background-color:#F0F8FF;">
                                    <div class="card-body" style="border-style: inset;">
                                        <span class="dash-widget-icon"><i class="la la-users"></i></span>
                                        <div class="dash-widget-info">
                                            <h3>5</h3>
                                            <span>الزبائن</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Widget: Files -->
                            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                                <div class="card dash-widget" style="background-color: #F0F8FF;">
                                    <div class="card-body" style="border-style: inset;">
                                        <span class="dash-widget-icon"><i class="la la-briefcase"></i></span>
                                        <div class="dash-widget-info">
                                            <h3>8</h3>
                                            <span>الملفات</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Widget: Today's Sessions -->
                            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                                <div class="card dash-widget" style="background-color: #F0F8FF;">
                                    <div class="card-body" style="border-style: inset;">
                                        <span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
                                        <div class="dash-widget-info">
                                            <h3>1</h3>
                                            <span>عدد جلسات اليوم</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Widget: Week's Sessions -->
                            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                                <div class="card dash-widget" style="background-color: #F0F8FF;">
                                    <div class="card-body" style="border-style: inset;">
                                        <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
                                        <div class="dash-widget-info">
                                            <h3>3</h3>
                                            <span class="m-xs">عدد جلسات الاسبوع</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Widget: Justice Ministry Link -->
                            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                                <div style="background-color:#F0F8FF;" class="card dash-widget" onclick="window.open('http://www.justice.gov.ma/', '_blank');">
                                    <div class="card-body" style="border-style: inset;">
                                        <span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
                                        <div class="dash-widget-info">
                                            <h3></h3>
                                            <span>موقع وزارة العدل</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Widget: Courts Link -->
                            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                                <div style="background-color:#F0F8FF;" class="card dash-widget" onclick="window.open('http://www.justice.gov.ma/', '_blank');">
                                    <div class="card-body" style="border-style: inset;">
                                        <span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
                                        <div class="dash-widget-info">
                                            <h3></h3>
                                            <span>موقع محاكم</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Lawyers List -->
                        <div class="row">
                            <div class="">
                                <div class="card card-table flex-fill">
                                    <div class="card-header">
                                        <h3 class="card-title mb-0">لائحة المحاماة</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table custom-table mb-0">
                                                <thead>
                                                <tr>
                                                    <th>اسم</th>
                                                    <th>الهيئة</th>
                                                    <th>بريد الالكتروني</th>
                                                    <th>هاتف</th>
                                                    <th>تاريخ انضمام</th>
                                                    <th class="test-in">دور</th>
                                                    <th class="text-end">الإجراء</th>
                                                </tr>
                                                </thead>
                                                <tbody th:each="avocat:${avocats}">
                                                <tr>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a th:href="@{/Admin/AdminAvocat/Avocat/profile-sA}" class="avatar">
                                                                <img width="50" height="50" alt="" th:src="'data:image/jpeg;base64,'+${avocat.imguser}">
                                                            </a>
                                                            <a th:href="@{/Admin/AdminAvocat/Avocat/profile-sA}" th:text="${avocat.firstName}+'  '+${avocat.lastName}">Barry Cuda <span>CEO</span></a>
                                                        </h2>
                                                    </td>
                                                    <td><a href="#" th:text="${avocat.barreau.nomBarreau}"></a></td>
                                                    <td><a href="/cdn-cgi/l/email-protection" th:text="${avocat.email}"></a></td>
                                                    <td><a href="#" th:text="${avocat.telfixe}"></a></td>
                                                    <td><a href="#" th:text="${avocat.DateCreation}">dddd/ddd/dd</a></td>
                                                    <td class="test-in">
                                                        <span><b style="color:blue;">محامي</b></span>
                                                    </td>
                                                    <td class="text-end">
                                                        <div class="dropdown dropdown-action">
                                                            <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">⁝</i></a>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-pencil m-r-5"></i> تعديل</a>
                                                                <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-trash-o m-r-5"></i> حذف</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a th:href="@{/Admin/AdminAvocat/Avocat/employees-list(user=${user.id})}">عرض جميع المحامين</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Right Sidebar -->
<div class="right-bar">
    <div data-simplebar class="h-100">
        <div class="rightbar-title d-flex align-items-center px-3 py-4">
            <h5 class="m-0 me-2">Settings</h5>
            <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                <i class="mdi mdi-close noti-icon"></i>
            </a>
        </div>

        <!-- Settings -->
        <hr class="mt-0" />
        <h6 class="text-center mb-0">Choose Layouts</h6>

        <div class="p-4">
            <!-- Light Mode -->
            <div class="mb-2">
                <img src="/assets/images/layouts/layout-1.jpg" class="img-thumbnail" alt="layout images">
            </div>
            <div class="form-check form-switch mb-3">
                <input class="form-check-input theme-choice" type="checkbox" id="light-mode-switch1" checked>
                <!-- Light Mode Toggle -->
                <div class="mb-2">
                    <img src="/assets/images/layouts/layout-1.jpg" class="img-thumbnail" alt="layout images">
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="light-mode-switch" checked>
                    <label class="form-check-label" for="light-mode-switch">Light Mode</label>
                </div>

                <!-- Dark Mode Toggle -->
                <div class="mb-2">
                    <img src="/assets/images/layouts/layout-2.jpg" class="img-thumbnail" alt="layout images">
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="dark-mode-switch">
                    <label class="form-check-label" for="dark-mode-switch">Dark Mode</label>
                </div>

                <!-- RTL Mode Toggle -->
                <div class="mb-2">
                    <img src="/assets/images/layouts/layout-3.jpg" class="img-thumbnail" alt="layout images">
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="rtl-mode-switch" checked>
                    <label class="form-check-label" for="rtl-mode-switch">Right to Left</label>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- App JS -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/fastclick.js"></script>
    <script src="/assets/js/app.js"></script>

    <script>
        // Event listener for theme toggles
        document.getElementById('light-mode-switch').addEventListener('change', function() {
            if (this.checked) {
                document.body.classList.remove('dark-mode');
                document.body.classList.add('light-mode');
            }
        });

        document.getElementById('dark-mode-switch').addEventListener('change', function() {
            if (this.checked) {
                document.body.classList.remove('light-mode');
                document.body.classList.add('dark-mode');
            }
        });

        document.getElementById('rtl-mode-switch').addEventListener('change', function() {
            if (this.checked) {
                document.body.classList.add('rtl');
            } else {
                document.body.classList.remove('rtl');
            }
        });
    </script>
</body>
</html>
