<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changer votre Mot de Passe</title>
</head>
<body>
<h2>Changer votre mot de passe</h2>
<form action="/reset-password/{token}" method="post">
    <input type="hidden" name="token" value="${token}" />
    <label for="password">Entrez votre nouveau mot de passe :</label>
    <input type="password" id="password" name="password" required />
    <button type="submit">Soumettre</button>
</form>

<div>
    <p th:if="${message}" th:text="${message}"></p>
    <p th:if="${error}" th:text="${error}"></p>
</div>
</body>
</html>
